%tr
  %td=link_to @question.title, question_path(@question)
  %td= @question.body
  %td= link_to "Edit question", edit_question_path(@question), :class => "btn btn-xs btn-warning" if @question.user == current_user
  %td= link_to "Delete question", question_path(@question), :method => :delete, :class => "btn btn-xs btn-destroy" if @question.user == current_user