- if can?(:create, Question)
  %p= link_to "Add question", new_question_path

%table.questions
  %thead
    %tr
      %td Title
      %td Body
  %tbody
    - cache collection_cache_key_for :question do
      - @questions.each do |question|
        %tr
          %td=link_to question.title, question_path(question)
          %td= question.body
= subscribe_to "/questions"