%p Question
%table
  %thead
    %tr
      %td Title
      %td Body
  %tbody
    %tr
      %td= @question.title
      %td= @question.body
%hr/
Answers:
.answers
  = render "answers/answers"
- if user_signed_in?
  %hr/
  New answer
  #answer-form
    = render "answers/form"