%tr
  %td= @question.answers.count
  %td= @answer.body
  %td= link_to "Edit answer", edit_question_answer_path(@question, @answer), :class => "btn btn-xs btn-warning" if @answer.user == current_user
  %td= link_to "Delete answer", question_answer_path(@question, @answer), :method => :delete, :class => "btn btn-xs btn-danger" if @answer.user == current_user