= form_tag search_path, method: :get, class: "form-inline" do
  = text_field_tag  :query, params[:query], class: "form-control"
  = select_tag(:type, options_for_select([["Answer", "Answer"],["Question", "Question"],["Comment", "Comment"], ["User", "User"]], selected: params[:type]), class: "form-control input-sm", prompt: "All")
  = submit_tag "Поиск", class: "btn btn-xs btn-primary"